.App{
  min-height: 100vh;
  background: #84E1E9;
  background: -webkit-linear-gradient(top, #84E1E9, #D7C2C9);
  background: -moz-linear-gradient(top, #84E1E9, #D7C2C9);
  background: linear-gradient(to bottom, #84E1E9, #D7C2C9);

}


.search-form{
  padding-top: 20px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 11px;
}

.search-button{
  background: lightslategray;
  border: none;
  padding: 10px 20px;
  color: white;

}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  list-style-type: square;
}


